.icon-facebook {
	background: $color-facebook;
	display: inline-block;
	width: 38px;
	height: 38px;
	padding: 9px;
	border-radius: 50%;
	font-size: 20px;
	color: $color-white;
}

.icon-twitter {
	background: $color-twitter;
	display: inline-block;
	width: 38px;
	height: 38px;
	padding: 9px;
	border-radius: 50%;
	font-size: 20px;
	color: $color-white;
}

.icon-instagram {
	background: $color-instagram;
	display: inline-block;
	width: 38px;
	height: 38px;
	padding: 9px;
	border-radius: 50%;
	font-size: 20px;
	color: $color-white;
}
