* {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

html,body{
	height:100%;
}
body{
	font-family: $font-family-main;
	font-size: 12px;

	> section {
		margin-bottom: 15px;
	}
}
img{
	max-width:100%;
}
.container{
	position: relative;
	// max-width: 400px;
}
.small-container{
	position: relative;
	width:100%;
	max-width:850px;
	margin:0 auto;
	padding: 15px;
}
@media all and (max-width: 990px){
	width: 100%;
}

a{
	outline: none;
	text-decoration: none;
	color: inherit;

	&:focus{
		outline: none;
		text-decoration: none;
		color: inherit;
	}

	&:hover{
		outline: none;
		text-decoration: none;
		color: inherit;
	}
	
}

.desktop-only{
	display: block !important;
}
.mobile-only{
	display: none !important;
}


//--Media QUERIES
@media all and (max-width: 640px){
.desktop-only{
	display: none !important;
}
.mobile-only{
	display: block !important;
}
}

