.clearfix {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

.hide {
    display: none;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}

.pos-relative {
    position: relative;
}

.group {
    margin-bottom: 5px;
}
.group:after {
    visibility: hidden;
    display: block;
    content: ".";
    clear: both;
    height: 0;
}
.box-sizing * {
    box-sizing: border-box;
}
* html .group {
    zoom: 1;
} /* IE6 */
*:first-child + html .group {
    zoom: 1;
} /* IE7 */

.row {
    margin-left: -15px;
    margin-right: -15px;
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
.col-2 {
    width: 16.666%;
    padding: 0 15px;
    float: left;
}
.col-3 {
    width: 25%;
    padding: 0 15px;
    float: left;
}
.col-4 {
    width: 33.333%;
    padding: 0 15px;
    float: left;
}
.col-5 {
    width: 41.666%;
    padding: 0 15px;
    float: left;
}
.col-6 {
    width: 50%;
    padding: 0 15px;
    float: left;
}
.col-7 {
    width: 58.333%;
    padding: 0 15px;
    float: left;
}
.col-8 {
    width: 66.666%;
    padding: 0 15px;
    float: left;
}
.col-9 {
    width: 75%;
    padding: 0 15px;
    float: left;
}

.barrier {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.has-button {
    padding-bottom: 43px;
}
