$grey-background:			#f7f7f7;
$text-header:					#222;

$font-family-regular:	'SamsungSans-Regular', Arial;
$font-family-medium:	'SamsungSans-Medium', Arial;

//--Colors
$color-orange:              #ff7200 !default;
$color-blue:				#00599F !default;
$color-green:				#8cd931 !default;
$color-red:					#f20000 !default;
$color-yellow:				#fdcb04 !default;
$color-white:				#ffffff !default;

$color-grey:				#dddddd !default;
$color-grey-darker:			#888888 !default;
$color-grey-darkest:		#222222 !default;
$color-grey-lighter:		#f7f7f7 !default;
$color-grey-lightest:		#ffffff !default;


//--Checkbox Size
$checkbox-primary-width:			17px;
$checkbox-primary-height:			17px;
$checkbox-primary-border-radius:	4px;
$page-header-height:		50px;
$package-filter-height:		34px;
$general-filter-height: 	35px;
