.animate{
	.n-2{
		> .target{
			-webkit-transition-delay: 0.5s;
			transition-delay: 0.5s;
		}
	}
	.n-3{
		> .target{
			-webkit-transition-delay: 1s;
			transition-delay: 1s;
		}
	}
	.n-4{
		> .target{
			-webkit-transition-delay: 1.5s;
			transition-delay: 1.5s;
		}
	}
	.n-5{
		> .target{
			-webkit-transition-delay: 2s;
			transition-delay: 2s;
		}
	}
	.n-6{
		> .target{
			-webkit-transition-delay: 2.5s;
			transition-delay: 2.5s;
		}
	}
	.n-7{
		> .target{
			-webkit-transition-delay: 3s;
			transition-delay: 3s;
		}
	}
	.n-8{
		> .target{
			-webkit-transition-delay: 3.5s;
			transition-delay: 3.5s;
		}
	}
	.n-9{
		> .target{
			-webkit-transition-delay: 4s;
			transition-delay: 4s;
		}
	}
	.n-10{
		> .target{
			-webkit-transition-delay: 4.5s;
			transition-delay: 4.5s;
		}
	}

	.ss-2{
		> .target{
			-webkit-transition-delay: 0.25s;
			transition-delay: 0.25s;
		}
	}
	.ss-3{
		> .target{
			-webkit-transition-delay: 0.5s;
			transition-delay: 0.5s;
		}
	}
	.ss-4{
		> .target{
			-webkit-transition-delay: 0.75s;
			transition-delay: 0.75s;
		}
	}
	.ss-5{
		> .target{
			-webkit-transition-delay: 1s;
			transition-delay: 1s;
		}
	}
	.ss-6{
		> .target{
			-webkit-transition-delay: 1.25s;
			transition-delay: 1.25s;
		}
	}
	.ss-7{
		> .target{
			-webkit-transition-delay: 1.5s;
			transition-delay: 1.5s;
		}
	}
	.ss-8{
		> .target{
			-webkit-transition-delay: 1.75s;
			transition-delay: 1.75s;
		}
	}
	.ss-9{
		> .target{
			-webkit-transition-delay: 2s;
			transition-delay: 2s;
		}
	}
	.ss-10{
		> .target{
			-webkit-transition-delay: 2.25s;
			transition-delay: 2.25s;
		}
	}
}