.choose-what-you-search {
	h2 {
		margin: 0;
		padding-top: 20px;
		padding-bottom: 10px;
		font-family: $font-family-main-bold;
		font-size: 17px;
		color: $color-secondary-text;
	}
	.option {
		position: relative;
		margin-bottom:30px;
		text-align: center;

		img{
			height:150px;
		}

		.layer {
			position:absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding-top: 80px;
			height: 100%;
			background: rgba(0,0,0,0.5);

			span {
				display: block;
				height: 35px;
				position: absolute;
				top: 50%;
				margin-top: -20px;
				width: 100%;
				font-size: 25px;
				color: $color-white;
				text-align: center;
			}
		}
	}
}

@media all and (max-width: 640px){

}