.data-not-found {
	margin-top: 150px;
	text-align: center;
	background: url('../images/empty-result.png') no-repeat center top;
	background-size: 100px;
	padding-top: 	120px;
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

	p {
		padding: 0 20%;
		font-size:14px;
		line-height: 1.43;
		color: $color-grey-darkest;
	}
}