.detail-tabs {
	background: $color-blue;
	width: 100%;
	height: 40px;
	line-height: 40px;

	> * {
		display: inline-block;
		width: 50%;
		text-align: center;
		float: left;
		color: $color-white;
		position: relative;

		&.current-tab:before {
			position: absolute;
			content: ' ';
			width: 100%;
			height: 4px;
			bottom: 0;
			left: 0;
			background: $color-orange;
		}
	}
}