.slick-slider {
	min-height: 150px;
}

.slick-slide img {
	width: 100%;
}

.ril-inner,
.ril-outer:focus {
	outline: 0;
}

.slick-dots-details {
	bottom: 0;
	color: #fff;

	> li {
		position: absolute;
		bottom: 14px;
		right: 6px;
		width: 40px;		
		font-size: 12px;
		line-height: 25px;
		padding: 0 7px;
		text-align: center;
		white-space: nowrap;

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			height: 25px;
			width: 40px;
			content: ' ';
			background: $color-grey-darkest;
			border-radius: 4px;
			opacity: 0.4;
		}

		span {
			position: relative;
			opacity: 0;
			z-index: 10;
		}
	}

	> .slick-active span {
		opacity: 1;
	}
}