.footer-menu-main {
	position: relative;
	border-top: 1px solid $color-grey;
	border-bottom: 1px solid $color-grey;

	.footer-menu-main-container {
		max-width: 320px;
		margin: 0 auto;

		.list-area {
			width: 25%;
			float: left;
			text-align: center;
		
			a {
				&.active {
					.list {
						color: $color-blue;

						>i {
							color: $color-blue;
						}
					}
				}
				.list {
					display: inline-block;
					font-size: 10px;
					color: $color-grey-darker;

					>i {
						display: inline-block;
						padding-top: 8px;
						padding-bottom: 3px;
						font-size: 20px;
			 			color: #888;
					}
					>p {
						margin-bottom:5px;
					}
				}
			}
		}
	}
}