.header {
	position: absolute;
	height: 55px;
	width: 100%;
	z-index: 1;
	pointer-events: none;
	transition: all .3s ease-in;

	.settings {
		position: absolute;
		top: 0;
		right: 0;
		background: url("../images/more.png") no-repeat;
		background-position: center;
		background-size: 4px 18px;
		width: 24px;
		height: 100%;
		border: 0;
		padding:25px;
		pointer-events: visible;
	}
}

.page-header {
	position: relative;
	display: block;
	background: #00599b;
	height: $page-header-height;
	padding: 0;
	margin: 0;
	width: 100%;
	z-index: 100;
	color: $color-white;

	&.header-fixed {
		position: fixed;
		top: -70px;
		left: 0;
		height: 60px;
		text-align: center;
		transition: 0.3s all ease-out;

		&.show-up {
			top: 0;
			padding: 0 36px;
		}

		.title {
			font-size: 16px;
			font-weight: bold;
			padding: 10px 0 5px;
		}
		.subtitle {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.title {
		display: block;
		padding: 15px 10px 10px 40px;
		width: 100%;
		h1{
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
		}
		
		h2 {
			font-family: $font-family-medium;
			font-size: 14px;
			margin: 0;
			padding: 0;
		}
		p {
			font-family: $font-family-regular;
			font-size: 12px;
			margin: 2px 0 0;
		}
	}
}

.back-btn {
	position: absolute;
	display: block;
	height: 100%;
	width: 30px;
	color: #fff;
	left: 0;
	padding: 15px 10px;
	font-size: 16px;
	z-index: 1;
	pointer-events: auto;
}
