.home-banner {
	background: url('../images/loading.gif') no-repeat;
  	background-position: center;
	min-height: 150px;
	
	.image-loading {
		position: relative;
		top: 90px;
		display: block;
		margin: 0 auto;
		width: 32px;
		height: 32px;
	}

	.slick-slide {
		height: auto;
	}

	.slick-dots {
		bottom: 31px;

		li {
			margin: 0;

			&.slick-active button:before {
				background: $color-orange;
			}

			button:before {
				content: ' ';
				color: transparent;
				background: rgba(#fff, 0.7);
				border-radius: 50%;
				height: 8px;
				width: 8px;
				opacity: 1;
			}
		}
	}
}
