/*--------------------------
 * Why padding:10px; is on each message
 * Because, buat ketika ga ad message, dia ttp bisa di panggil tapi tidak terlihat, dan ketika ada message dia baru kelihatan
 *--------------------------
 */
.message{
	font-size: 14px;
	color: #fff;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	cursor: pointer;

	>span{
		font-weight: bold;
	}
}

.message-success {
	@extend .message;
	padding: 10px;
	background: #8cd931;
}
 
.message-error {
	@extend .message;
	padding: 10px;
	background: #f00;
}
 
.message-warning {
	@extend .message;
	padding: 10px;
	background: #ff7200;
}
