.search-kota {
    background: $color-white;
    width: 100%;
    height: 100%;
    .head {
        background: $color-blue;
        padding: 15px;
        margin-bottom: 0;
        .close {
            float: right;
            margin-top: 0px;
            font-size: 27px;
        }
        .close-img {
            background: url("../images/spritehotel2x_720.png") -106px 0px;
            display: inline-block;
            background-size: 530px;
            width: 21px;
            height: 21px;
        }
        label {
            color: #fff;
            font-size: 17px;
            font-weight: lighter;
        }
        a {
            color: #fff;
            &:hover {
                color: #3f97d8;
            }

            > i {
                position: absolute;
                right: 15px;
                top: 20px;
                font-size: 18px;
                color: $color-white;
            }
            &:hover {
                color: #3f97d8;
            }
        }
    }
    .brand {
        height: 4px;
        border: 0;
        background: url("../images/sprites.png") 0px -662px repeat-x;
        margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
        width: 100%;
    }
    form {
        padding: 0 10px;
        .input-box {
            margin-right: 15px;
            background: #fff;
            margin: 0 30px 0 0;
            input[type=text] {
                border: 0;
                font: 400 normal 15px/35px $font-family-regular;
                padding: 12px 10px 12px 10px;
                width: 95%;
                outline: none;
                border: 0;
                height: 35px;
                -webkit-appearance: none;
                outline: none;
                &::-webkit-input-placeholder {
                    color: $color-grey-darker;
                }
                &::-moz-placeholder {
                    color: $color-grey-darker;
                }
                &:-ms-input-placeholder {
                    color: $color-grey-darker;
                }
                &:-moz-placeholder {
                    color: $color-grey-darker;
                }
            }
            a {
                color: #ababab;
                font-size: 20px;
                float: right;
                margin: 5px 10px 0 0;
            }
        }
        .input-search {
            width: 100%;
            height: 18px;
            padding-left: 10px;
            border: 0;
            font-family: inherit;
        }
        .btn-close {
            display: none;
            position: absolute;
            top: 59px;
            right: 18px;
            background: url("../images/icon-close-circle.png") no-repeat;
            width: 20px;
            height: 20px;
            background-size: 100%;
        }
    }
    .kota2 {
        position: absolute;
        width: 100%;
        overflow: auto;
        top: 85px;
        bottom: 0;
        background: $color-white;
        border-top: 5px solid #f3f3f3;
        h3 {
            line-height: 40px;
            margin: 0px;
            padding: 0 20px;
            font-weight: 700;
            color: $color-white;
            background: #3f97d8;
            font-size: 16px;
        }
        ul {
            list-style: none;
            li {
                background: $color-white;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                padding: 10px 20px;
                font-size: 15px;
                .fa {
                    position: absolute;
                    top: 12px;
                    left: 0px;
                    font-size: 18px;
                    color: #aaa;
                }
                .icon-detail {
                    margin-left: 28px;
                    padding: 5px 0;
                }
                /*&:nth-child(even){
                    background: #f8f8f8;
                }*/
                &:hover {
                    background: #efefef;
                }
                .fa {
                    position: absolute;
                    top: 12px;
                    left: 0px;
                    font-size: 18px;
                    color: #aaa;
                }
                .icon-detail {
                    margin-left: 28px;
                    padding: 5px 0;
                }
                h3 {
                    background: #fff;
                    color: #222;
                    font-weight: lighter;
                    margin: 0px;
                    font-size: 16px;
                    margin: -10px -20px;
                }
                h4 {
                    padding: 0px;
                    font-size: 15px;
                    color: #333;
                    &:first-child {
                        margin-bottom: 5px;
                    }
                    .icon-popular-city:before {
                        content: '';
                        background: url("../images/icon-popular-city.png") no-repeat;
                        display: inline-block;
                        position: absolute;
                        width: 23px;
                        height: 23px;
                        background-size: 100%;
                        margin-left: -27px;
                        margin-top: 5px;
                    }
                    a {
                        font-weight: lighter;
                        color: #888888;
                        font-size: 14px;
                        span.location {
                            font-weight: normal;
                            color: #000;
                            font-family: "SamsungSans-Medium";
                        }
                        span.subtitle {
                            color: #888888;
                            font-size: 11px;
                        }
                    }
                }
                p {
                    padding: 0px;
                    font-size: 13px;
                    color: #888;
                }
            }
        }
    }

    .new-head {
        position: relative;
        z-index: 10;
        width: 100%;
        background: $color-white;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);

        .icon-back {
            position: absolute;
            top: 7px;
            left: 0;
            font-size: 16px;
            line-height: 43px;
            width: 44px;
            text-align: center;
            color: $color-blue;
        }

        input {
            width: 100%;
            height: 50px;
            border: none;
            padding: 0 44px;
            font-size: 16px;
            color: $color-grey-darkest;
            outline: 0;
        }

        .icon {
            position: absolute;
            top: 00px;
            right: 5px;
            padding:10px 10px 11px 10px;
            font-size: 25px;
            color: $color-orange;
        }

        .pickup-note {
            padding:0 16px 0 44px;
            display:none;

            input {
                border-top: 1px solid $color-grey;
                padding: 0;
                font-size: 12px;
            }
        }
    }

    .list-car {
        position: absolute;
        padding: 50px 0 0;
        height: 0;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        overflow-y: auto;
        background: #fff;
        transition: height .2s ease-in;

        &.active {
            height: 100%;
        }

        ul > li {
            padding: 16px 16px 18px;
            font-size: 14px;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
        }

        .address-desc {
            font-size: 12px;
            font-weight: 300;
            color: $color-grey-darker;
            margin-top: 5px;
        }
    }

    .map-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom:43px;

        #map-search {
            width: 100%;
            height: 100%;
        }

		#apply-pickup-btn{
			position: absolute; 
			bottom:0; 
			left: 0; 
			right: 0;
		}
		
        .btn-primary{
            position:absolute;
            top:40%;
            left:50%;
            width:90px;
            height:28px;
            padding:5px 10px;
            border-radius:4px;
            margin-left:-45px;
            z-index: 1;
            font-size: 14px;

            &:before {
                content: "\c5";
                position: absolute;
                top: 55px;
                left: 50%;
                z-index: 1;
                margin-left: -12px;
                margin-top: -24px;
                height: 25px;
                width: 24px;
                cursor: pointer;
                font-family: 'microservices';
                font-size:30px;
                color: #1694f6;
            }
        }
    }

    .map-current-location {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
        position: absolute;
        bottom: 55px;
        right: 15px;
        z-index: 10;

        span{
            padding: 4px;
            display: block;
            font-size: 17px;
            color: $color-orange;
        }
    }

}

.search-hint {
    h3 {
        line-height: 40px;
        margin: 0px;
        padding: 0 20px;
        font-weight: 700;
        color: #fff;
        background: #3f97d8;
        font-size: 16px;
    }
    ul {
        list-style: none;
        li {
            background: #fff;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            padding: 10px 20px;
            font-size: 15px;
            &:hover {
                background: #efefef;
            }
            h3 {
                margin: -10px -20px;
            }
        }
        h4 {
            padding: 0px;
            font-size: 15px;
            color: #333;
        }
        p {
            padding: 0px;
            font-size: 13px;
            color: #888;
        }
    }
}

.autocomplete-loading {
    position: absolute;
    right: 17px;
    top: 55px;
    height: 24px;
    width: 24px;

    img {
        width: 100%;
        height: 100%;
    }
}

.search-no-result,
.search-no-connection,
.search-no-server {
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: center;
    color: #222;
    margin-top: 60px;
    img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }
    p {
        padding: 15px;
        font-size: 14px;
    }
}

.error-msg {
    width: 100%;
    position: relative;
    text-align: center;

    img {
        width: 100px;
        height: auto;
        margin: 33px auto;
        display: block;
    }

    p {
        line-height: 1.43;
        color: $color-grey-darkest;
    }
}
