.sprite-barcode {
	background: #fff url(../images/sprite-home.png) no-repeat -180px -5px;
	background-size: 321px auto;
	display: inline-block;
	width: 87px;
	height: 87px;
}

.sprite-playstore {
	background: #fff url(../images/sprite-home.png) no-repeat -77px -5px;
	background-size: 386px auto;
	display: inline-block;
	width: 133px;
	height: 40px;
}

.sprite-appstore {
	background: #fff url(../images/sprite-home.png) no-repeat -77px -48px;
	background-size: 386px auto;
	display: inline-block;
	width: 133px;
	height: 40px;
}

.sprite-secure-payment {
	background: #fff url(../images/sprite-home.png) no-repeat 0 -155px;
  background-size: 652px auto;
	display: inline-block;
	width: 267px;
	height: 30px;
}

.sprite-verified-visa-payment {
	background: #fff url(../images/sprite-home.png) no-repeat 0 -155px;
	background-size: 652px auto;
	display: inline-block;
	width: 63px;
	height: 30px;
}

.sprite-mastercard-payment {
	background: #fff url(../images/sprite-home.png) no-repeat -63px -155px;
	background-size: 652px auto;
	display: inline-block;
	width: 74px;
	height: 30px;
}

.sprite-geotrust-payment {
	background: #fff url(../images/sprite-home.png) no-repeat -140px -155px;
	background-size: 652px auto;
	display: inline-block;
	width: 126px;
	height: 30px;
}


.sprite-facebook {
	background: #fff url(../images/sprite-home.png) no-repeat -1px -228px;
	background-size: 469px auto;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.sprite-twitter {
	background: #fff url(../images/sprite-home.png) no-repeat  -41px -228px;
	background-size: 469px auto;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.sprite-google {
	background: #fff url(../images/sprite-home.png) no-repeat  -81px -228px;
	background-size: 469px auto;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.sprite-linkedin {
	background: #fff url(../images/sprite-home.png) no-repeat  -121px -228px;
	background-size: 469px auto;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.sprite-youtube {
	background: #fff url(../images/sprite-home.png) no-repeat  -161px -228px;
	background-size: 469px auto;
	display: inline-block;
	width: 40px;
	height: 40px;
}
