.tab-review {
	.title {
		font-size: 16px;
		font-weight: 300;
		margin: 5px 0 10px;
	}
	.rated,
	.subtitle {
		font-size: 14px;
	}

	.review-list {
		font-size: 12px;

		li {
			margin-bottom: 12px;
			display: table;
			width: 100%;

			> div {
				position: relative;
				display: table-cell;
				width: 36%;
			}
		}

		.chart-background {
			width: 56%;
			position: relative;
			overflow: hidden;

			&:before {
				position: absolute;
				content: ' ';
				top: 3px;
				left: 0;
				width: 100%;
				height: 8px;
				border-radius: 8px;
				background: #d8d8d8;
			}
		}

		.chart-score {
			width: 8%;
			color: $color-blue;
			text-align: right;
			line-height: 14px;
		}

		.chart-indicator {
			position: relative;
			z-index: 10;
			display: block;
			height: 8px;
			border-radius: 8px;
			background: $color-blue;
		}
	}
}

.review-user {
	display: none;
}

.review-user-header {
	position: relative;
	padding-top: 8px;

	.name {
		font-size: 16px;
		margin-bottom: 2px;
	}

	.date {
		font-size: 12px;
		color: $color-grey-darker;
	}

	.score {
		position: absolute;
		top: 8px;
		right: 0;
		color: $color-blue;
	}
}

.review-user-comment {
	margin-top: 17px;
	font-size: 14px;
	line-height: 20px;
	color: $color-grey-darker;
}